/* RESPONSIVE 1200 px - 993 px */
@media(max-width: 1200px){
    .cart{
        width: calc(100vw - 50%);
    }

    .cart h3{
        font-size: 30px;
    }

    .card-about{
        width: 50%;
    }

    .card-info h2{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .card-info p{
        font-size: 18px ;
        line-height: 30px;
    }

    .product-cards{
    width: 31%;
    max-height: 474px;
    }

    .contacto{
        width: 95%;
    }

    .contact{
        min-height: 699px;
    }

    .form-container h2{
        font-size: 40px;
    }

    .form-container label{
        font-size: 20px;
    }

    .form-container textarea{
        height: 200px;
    }

    .contact iframe{
        max-height: 550px;
    }

    .tel{
        flex-direction: column;
    }
    
    .tel img{
        width: 60px;
    }

    .form-container input[type=submit] {
        margin-top: 40px;
        }
}


/* RESPONSIVE 992 px - 769 px */
@media(max-width: 992px){
    .show-menu-icon{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        cursor: pointer;
    }
    
    .nav-list{
        width: 50%;
        height: calc(100vh - 300px);
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 0 0 10px 10px;
        gap: 40px;
        background: rgba(255, 255, 255, 0.486);
        border-left: var(--blanco) 1px solid;
        border-right: var(--blanco) 1px solid;
        border-bottom: var(--blanco) 1px solid;
        transform: translateX(150%);
        transition: all 0.5s ease;
    }
    
    .nav-list a{
        color: black;
    }
    
    .show-menu {
        display: flex;
        transform: translateX(0%);
        transition: all 0.5s ease;
        z-index: 2;
    }

    .cart{
        width: calc(100vw - 30%);
    }

    #about{
        margin-top: 30px;
    }

    #about h1,
    #products h1,
    #contact h1{
        font-size: 70px;
    }

    .container-about{
        flex-direction: column;
    }

    .card-info{
        min-height: 0;
    }

    .container-products{
        width: 90%;
    }

    .product-cards{
        width: 300px;
    }

    .contacto{
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }

    .form-container{
        width: 80%;
        border: 1px solid var(--marron);
        margin-top: 30px;
        border-radius: 10px;
        padding: 15px;
    }

    .form-container h2{
        width: 100%;
        font-size: 40px;
        text-align: center;
    }

    .form-container input[type=submit]{
        margin-top:  10px;
    }

    .contact iframe{
        width: 600px;
        padding: 0;
    }
    
    .tel{
        flex-direction: column;
        max-width: 600px;
    }
}



/* RESPONSIVE 768 px - 577 px */
@media(max-width: 768px){
    .nav-list{
        width: 80%;
        height: calc(100vh - 300px);
    }

    .cart{
        width: 100vw;
    }

    .card-about{
        width: 80%;
    }

    .product-cards{
        width: 70%;
    }

    .contacto{
        width: 90%;
    }

    .form-container textarea,
    .form-container input{
        width: 350px;
    }

    .contact iframe{
        max-width: 500px;
        padding: 0;
    }
    
    #footer{
        flex-direction: row;
    }

    .social,
    .design{
        width: 100%;
        margin: 15px;
        justify-content: space-around;
        
    }
    
    .footer-logo{
        display: none;
    }


    .social a{
        justify-content: space-around;
        align-items: center;
        width: 40px;
    }

    .social img {
        width: 40px;
    }

    .design p{
        font-size: 13px;
    }

    .tel{
        flex-direction: column;
        width: 500px;
    }
}



/* RESPONSIVE 576 px - 320 px */
@media(max-width: 576px){
    #about h1,
    #products h1,
    #contact h1{
        font-size: 50px ;
    }

    .card-about{
        width: 100%;
    }

    .container-products{
        width: 100%;
    }

    .product-cards{
        width: 85%;
    }

    .contact{
        width: 85%;
    }

    .form-container{
        width: 90%;
        padding: 8px;
    }

    .form-container h2{
        font-size: 30px;
    }

    .form-container textarea,
    .form-container input{
        width: 250px;
    }

    .tel{
        flex-direction: column;
        width: 280px;
    }

    .contact iframe{
        max-width: 280px;
        padding: 0;
    }
}




